@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --header-height: 75px;
  --gray-050: #f9fafb;
  --gray-950: #030712;
  --lime-300: #bef264;
  --lime-950: #1a2e05;
}

body {
  margin: unset;
  background-color: var(--gray-950);
}

header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-950);
  height: var(--header-height);
  z-index: 10;
}

h1,
h3,
footer,
label,
li,
p,
a {
  color: var(--gray-050);
}

h2 {
  color: var(--lime-300);
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}

p,
a,
li,
label,
input,
textarea {
  font-family: "Roboto Slab", serif;
}

#hamburger-btn {
  background-color: unset;
  color: var(--gray-050);
  cursor: pointer;
  height: 100%;
  padding: 0 1.5rem;
}

header h1 {
  margin: 0;

  font-family: "Oswald", sans-serif;
  padding: 0 0 0 1rem;
}

.lime {
  color: var(--lime-300);
}

.window {
  background-color: color-mix(in srgb, var(--gray-950) 50%, transparent);
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);

  border-top: 1px solid color-mix(in srgb, var(--gray-950) 10%, transparent);
  border-bottom: 1px solid color-mix(in srgb, var(--gray-950) 10%, transparent);

  box-shadow: 0 0.2rem 1rem 0 var(--gray-950);
}

header p {
  margin: 0;
  padding: 0 0 0 1rem;
  font-size: x-small;
}

#logo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#logo a {
  text-decoration: none;
}

#logo span {
  font-size: 1.75rem;
}

#navigation ul {
  display: none;
}

#navigation li,
#navigation a {
  padding: 1rem 0;
}

#navigation a {
  white-space: nowrap;
}

#dropdown {
  display: none;
  position: absolute;
  top: var(--header-height);
  right: 0;
}
#dropdown ul {
  list-style-type: none;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  -webkit-backdrop-filter: blur(0.15rem);
  backdrop-filter: blur(0.15rem);
  background-color: color-mix(in srgb, var(--gray-950) 25%, transparent);
  border: 1px solid color-mix(in srgb, var(--lime-300) 85%, transparent);
  border-radius: 0.8rem 0 0 0.8rem;
  box-shadow: -0.5rem 0.5rem 1rem -0.75rem var(--lime-300);
}
#dropdown a {
  white-space: nowrap;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  text-align: center;
}
#dropdown a:active {
  background-color: var(--lime-300);
  color: var(--gray-950);
}

h1 :not(header),
h2 {
  text-align: center;
}

.h-full {
  height: 100vh;
}
.w-full {
  width: 100%;
}

h2 {
  margin-top: 0;
}

#gradient-container {
  background: var(--gray-950);
  position: relative;
  z-index: 1;
}
#gradient {
  background: radial-gradient(
    circle at left 20% top 45%,
    color-mix(in srgb, var(--lime-300) 50%, transparent) 0%,
    var(--gray-950) 75%
  );
  width: 100%;
  height: 100%;
}

.px-1 {
  padding: 0 1rem;
}

#sticky-hero {
  position: absolute;
  top: 0;
  z-index: 0;
}

#sticky-hero img,
#sticky-hero-2 img {
  object-fit: cover;
  filter: grayscale(1) brightness(0.5);
}

#sticky-hero-2 {
  position: absolute;
  top: 200vh;
  z-index: 0;
}

.sticky-background {
  height: 300vh;

  /* gizmo for tracking where the sticky goes */
  background-color: var(--gray-950);

  width: 100%;
}

.sticky-background img {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  width: 100%;
  height: 100vh;
}

#hero-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#hero-area h2,
#hero-area p,
#hero-area a {
  text-align: left;
  text-decoration: none;
}

#hero-area h2 {
  font-size: 2rem;
  color: var(--gray-050);
}

#hero-area a {
  color: var(--lime-300);
}

#caption-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 5rem;
}
#caption-area h1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  letter-spacing: -0.25rem;
  line-height: 3.5rem;
  font-style: italic;
  font-size: 4rem;

  position: relative;
  z-index: 1;
}
#caption-area div {
  display: none;
}
#caption-area img {
  width: 100%;
  object-fit: cover;
  border-bottom: 2px solid color-mix(in srgb, var(--lime-300) 85%, transparent);
  border-radius: 0 0 5rem 1rem;
  box-shadow: 0 0.5rem 1rem -0.5rem var(--lime-300);
}

#about {
  position: absolute;
  top: calc(100vh);
  display: flex;
  align-items: center;
}

.bg-black {
  background-color: var(--gray-950);
}

#services {
  position: absolute;
  top: calc(200vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

#services-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  overflow: auto;
  max-height: 80vh;

  position: relative;
}

#services-grid > article {
  border: 1px solid var(--lime-300);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  max-height: 400px;
  box-sizing: border-box;
}

#services-grid > article > img {
  width: 75%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

#trainers {
  position: absolute;
  top: calc(300vh);
  display: flex;
  align-items: center;
}

#trainers img {
  color: var(--gray-050);
}

#testimonials {
  position: absolute;
  top: calc(400vh);
  display: flex;
  align-items: center;
}

#contact {
  position: absolute;
  top: calc(500vh);
}

#arrow {
  position: relative;
  top: 40px;
  font-size: 10rem;
  font-style: italic;
  line-height: 0px;

  display: none;
}

#contact > div {
  display: flex;
  flex-direction: column;
}

footer {
  position: absolute;
  top: calc(600vh);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#name {
  background-color: color-mix(in srgb, var(--lime-950) 50%, transparent);
}

#submit-btn {
  background: var(--lime-300);
  color: var(--gray-950);
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
}

footer p {
  margin: 0;
}

@media (hover: hover) {
  #dropdown a:hover {
    background-color: var(--lime-300);
    color: var(--gray-950);
  }
}

@media only screen and (min-width: 350px) {
  #caption-area div {
    display: block;
  }
  #get-started {
    position: relative;
    top: -30px;
  }
  #arrow {
    display: inline-block;
  }
}

@media only screen and (min-width: 480px) {
  header p {
    margin: 0;
  }
}

@media only screen and (min-width: 640px) {
  #logo {
    flex-grow: unset;
  }
  #navigation {
    flex-grow: 1;
  }
  #navigation ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }

  #hamburger-btn {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  #services-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.gizmo {
  box-sizing: border-box;
  border: 1px solid var(--gray-050);
}
